<html>
	<head>
		<link rel="stylesheet" href="{% static 'museo/style-galleria.css' %}">
	</head>
	<body>
		<header>
			Galleria del Museo di Alessandro Volta
		</header>
		<div class="container">
			<div class="linea">
				<h2>Linea del tempo</h2>
				<button class="timeline">1745: Nascita di Alessandro Volta</button>
				<button class="timeline">1774: Invenzione dell'elettroforo</button>
				<button class="timeline">1800: Invenzione della pila</button>
				<button class="timeline">1810: Riconoscimento dall'Accademia di Francia</button>
				<button class="timeline">1827: Morte di Alessandro Volta</button>
			</div>
			<div class="quadro">
				<h2>Quadro</h2>
				<img src="volta.png" alt="Quadro di Alessandro Volta">
			</div>
		</div>
		<div class="mappa">
			<h2>Mappa</h2>
			<img src="mappa.png" alt="Mappa del museo">
		</div>
		<footer>
			<p>Crediti: Museo di Alessandro Volta</a> | Progettato da [Proserpio Fabio]</p>
		</footer>
	</body>
</html>
