{% extends "master.html" %}
{% load static %}
{% block css%}
<link rel="stylesheet" href="{% static 'home/css/homepage.css' %}">
<style>
    body {
      background-image: url("{% static 'home/images/homepage.jpg' %}");
    }
  </style>
{% endblock %}
{% block content%}
    <button onclick=Registrazione() id="RegButton"><img id="user"src="{% static 'home/images/user.png' %}"></button>
    <button onclick=Slot() id="slotButton"><img id="slot"src="{% static 'home/images/slot.png' %}"></button>
    <div>
        <h1 class="titolo">MUSEO DI ALESSANDRO VOLTA</h1>
        <p class="sottotitolo">Commemorazione del 150esimo anniversario dalla morte del grande Alessandro Volta</p>
    </div>

    <div class="center-alert">
        <div class="alert">
            Seleziona l'entrata per osservare le opere del museo.
        </div>
    </div>
	<div class="center-alert">
		<div class="alert">
			<img id="mappa" src="{% static 'home/images/mappa.png' %}" alt="Mappa">
			<a href="http://localhost:8000/galleria" class="button">Entrata</a>
		</div>
	</div>

    <div class="sfondo">
        <div class="Xdescrizione">
            <img id="quadro" src="{% static 'home/images/volta.png' %}" alt="Volta">
            <div class="descrizione">
                <p>Alessandro Volta (1745-1827) è stato un fisico italiano, noto per le sue ricerche in campo elettrico e per l'invenzione della pila elettrica, il primo dispositivo che ha prodotto una corrente elettrica stabile. Volta è considerato uno dei pionieri della scienza moderna e il suo lavoro ha avuto un impatto significativo sullo sviluppo dell'elettricità e della tecnologia.</p>
            </div>
        </div>
    </div>

    <footer>
        <p>Crediti: Museo di Alessandro Volta | progettato da [Proserpio Fabio]</p>
    </footer>
{% endblock %}

{% block script %}
<script>
    function Registrazione(){
        window.location.href="";//giusto indirizzo
    }
    function Slot(){
        window.location.href="http://localhost:8000/galleria/";
    }
</script>
{% endblock %}
