{% extends "master.html" %}
{% load static %}

{% block title %} login-page {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'home/css/styleRL.css' %}">
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" value="submit">
    <input type="button" onclick=registrazione() value="registrazione">
</form>
<a href="homepage.html" class="button">HOMEPAGE</a>
{% endblock %}
{% block script %}
<script>
    function registrazione(){window.location.href="http://localhost:8000/registrazione/";}
</script>
{% endblock %}