{% extends "master.html" %}
{% load static %}
{% block title %}Slot-machine{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'home/css/slot.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
{% endblock %}
    
{% block content %}
<div class="contenitore_slot">
    <div class="slot_machine">
        <div class="reel_container">
            <div class="reel" id="reel1"></div>
        </div>
        <div class="reel_container">
            <div class="reel" id="reel2"></div>
        </div>
        <div class="reel_container">
            <div class="reel" id="reel3"></div>
        </div>
        <div class="lever-container">
            <div class="lever" id="handle"></div>
        </div>
    </div>
    <div id="message"></div>
</div>
{% endblock %}
{% block script %}
   <!--Script con immagini-->
    <script>
        const BASE_IMAGES = [
            "{% static 'home/images/elettro.jpeg' %}",
            "{% static 'home/images/pila.jpeg' %}",
            "{% static 'home/images/pistola.jpeg' %}",
            "{% static 'home/images/bilancia.jpeg' %}"
        ];
        const EXTRA_IMAGES = [
            "{% static 'home/images/mela.png' %}",
            "{% static 'home/images/mango.png' %}",
            "{% static 'home/images/fragola.png' %}",
            "{% static 'home/images/banana.png' %}"
        ];
    </script>
    <script src="{% static 'home/js/slot.js' %}"></script>
{%endblock%}